<mat-card>
    <mat-card-header>
        <mat-card-title style="font-style: italic;font-weight: bold;font-size: medium;">{{formHeading}}</mat-card-title>
        <mat-card-subtitle>{{currentTestName}} {{currentTestTime | date:"MM/dd/yy hh:mm:ss"}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-container">
        <form [formGroup]="instructionForm">
            <!-- <h4 style="font-style: italic;font-weight: bold;">{{formHeading}} - {{currentTestTime | date:"MM/dd/yy hh:mm:ss"}}</h4> -->
            <mat-label>Dataset Name</mat-label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field appearance="outline">
                <mat-label>Dataset Name</mat-label>
                <input matInput #outputFilename placeholder="Dataset Name" formControlName="outputFilename">
            </mat-form-field>
            <br>
            <mat-label>Configure</mat-label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-group aria-label="Where do you want your Output?" placeholder="Input Type"
                formControlName="inputType">
                <mat-radio-button value="Form Input">Manual</mat-radio-button>
                &nbsp;&nbsp;
                <mat-radio-button value="Upload File">Upload Document</mat-radio-button>
            </mat-radio-group>
            <br><br>
            <mat-divider></mat-divider>
            <div style="padding-top: 20px;background-color: transparent;" *ngIf="this.instructionForm.get('inputType').value === 'Form Input'"></div>
            <mat-divider></mat-divider>
            <div *ngIf="this.instructionForm.get('inputType').value === 'Form Input'" >
                <h4 style="font-style: italic;font-weight: bold;padding-top: 20px;">Sample File Type Configuration *</h4>
                <mat-label>Input/Output File Type</mat-label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline">
                    <mat-label>File Type</mat-label>
                    <mat-select formControlName="fileType">
                        <mat-option *ngFor="let fileTypes of fileTypeList" [value]="fileTypes.value">
                            {{fileTypes.fileType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <br>
                <div *ngIf="this.instructionForm.get('fileType').value  == 'csv'">
                    <mat-label>File Header</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-slide-toggle formControlName="sampleFileHeader"
                        *ngIf="this.instructionForm.get('fileType').value  == 'csv'">
                        File Header
                    </mat-slide-toggle>
                </div>
                <div *ngIf="this.instructionForm.get('fileType').value  == 'csv'">
                    <mat-label>File Delimiter</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline" *ngIf="this.instructionForm.get('fileType').value  == 'csv'">
                        <mat-label>File Delimiter</mat-label>
                        <input matInput #Delimiter placeholder="Delimiter" formControlName="delimiter">
                    </mat-form-field>
                </div>
                <div
                    *ngIf="this.instructionForm.get('fileType').value  == 'orc' || this.instructionForm.get('fileType').value  == 'parquet'">
                    <mat-label>Spark Config File</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline"
                        *ngIf="this.instructionForm.get('fileType').value  == 'orc' || this.instructionForm.get('fileType').value  == 'parquet'">
                        <mat-label>Spark Config File</mat-label>
                        <input matInput #sparkConfFile placeholder="sparkConfFile" formControlName="sparkConfFile">
                    </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <div style="padding-top: 20px;background-color: transparent;"></div>
                <mat-divider></mat-divider>
                <h4 style="font-style: italic;font-weight: bold;padding-top: 20px;">Input Configuration *</h4>
                <mat-label>Is the input available in S3?</mat-label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="isFileLocal">
                    <mat-button-toggle value="False">S3 Location</mat-button-toggle>
                    <mat-button-toggle value="True">Local Folder</mat-button-toggle>
                </mat-button-toggle-group> -->
                <mat-radio-group placeholder="Input Location"
                formControlName="isFileLocal">
                <mat-radio-button value="False">Yes</mat-radio-button>
                &nbsp;&nbsp;
                <mat-radio-button value="True">No, Upload File to S3</mat-radio-button>
            </mat-radio-group>
                <br>
                <br>
                <div *ngIf="this.instructionForm.get('isFileLocal').value == 'True'">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" style="padding: 0px;">
                                <mat-label>Upload Sample File</mat-label>
                            </div>
                            <div class="col-md-6" style="padding-left: 13px;">
                                <input #sampleFileInput class="form-control form-control-sm" type="file"
                                    (change)="onSampleFileChange($event)" style="width: 250px;margin: 0;">
                                    <ng-container *ngIf="sampleFileProcessed">
                                        <i class="material-icons" style="cursor: pointer; color:green;" (click)="saveVariableDetails(index)">check</i> <h7 style="font-size: x-small;width: 450px;">{{this.instructionForm.get('fileLocation').value}}</h7>
                                    </ng-container>
                            </div>
                            <!-- <div class="col-md-3" style="padding: 0px;"></div> -->
                            <div class="col-md-3">
                                <ng-container *ngIf="sampleFileUploadFlag">
                                    <button type="button" mat-stroked-button color="success"
                                        (click)="onSampleFileUpload() && sampleFileUploadFlag=true"
                                        class="btn btn-success">Upload Sample
                                        File</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div *ngIf="this.instructionForm.get('isFileLocal').value == 'False'">
                    <mat-label>File Location</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>File Location</mat-label>
                        <input matInput (change)="onEntering()" #fileLocation placeholder="fileLocation" formControlName="fileLocation">
                    </mat-form-field>
                </div>
                <div *ngIf="sampleFileProcessed">
                    <!-- <h4 style="font-style: italic;font-weight: bold;padding-top: 20px;">Variable Fields Rule Set Configuration</h4> -->
                    <!-- <mat-label>Variables</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" mat-button color="primary"
                        (click)="addVariableFields()">{{variableFieldButton}}</button> -->
                        <mat-label style="float:left">Variables</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-label>{{columnNumbers}} column variables added</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" mat-button color="primary"
                        (click)="addVariableFields()">{{variableFieldButton}}</button>

                    <!-- <app-variable-fields *ngIf="addVariableFlag" [variableFieldArray]="variableRecord" [isDisabled]="isDisabled"></app-variable-fields> -->
                </div>
                <mat-divider></mat-divider>
                <div style="padding-top: 20px;background-color: transparent;"></div>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="this.instructionForm.get('inputType').value == 'Upload File'">
                <br>
                <br>
                <app-upload-instruction-form (uploadFileEvent)="fileUpload($event)" [inputType]="'Upload File'">
                </app-upload-instruction-form>
            </div>
            <div *ngIf="this.instructionForm.get('inputType').value === 'Form Input'">
                <h4 style="font-style: italic;font-weight: bold;padding-top: 20px;">Output Configuration *</h4>
                <div>
                    <mat-label>Output Location</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="downloadFile">
                        <mat-button-toggle value="False">S3 Location</mat-button-toggle>
                        <mat-button-toggle value="True">Local Folder</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div *ngIf="this.instructionForm.get('downloadFile').value == 'False'">
                    <mat-label>Output Folder</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>Output Folder</mat-label>
                        <input matInput #outputFolder placeholder="outputFolder" formControlName="outputFolder">
                    </mat-form-field>
                </div>
                <br>
                <div *ngIf="this.instructionForm.get('fileType').value  == 'json'">
                    <mat-label>Output File Indentation</mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline" *ngIf="this.instructionForm.get('fileType').value  == 'json'">
                        <mat-label>Indentation</mat-label>
                        <input matInput #indent placeholder="indent" formControlName="indent">
                    </mat-form-field>
                </div>
                <mat-label>How many Records do you need?</mat-label>
                &nbsp;&nbsp;
                <mat-form-field appearance="outline">
                    <input matInput #records placeholder="Records" formControlName="records">
                </mat-form-field>
                <br>
                <!-- <h6 style="font-style: italic;font-weight: bold;">Split the Records into *</h6> -->
                <mat-label>How many Files do you need?</mat-label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline">
                    <input matInput #files placeholder="Files" formControlName="files">
                </mat-form-field>
                <!-- <mat-label>How many Folders do you need?</mat-label>
                &nbsp;&nbsp;
                <mat-form-field appearance="outline">
                    <input matInput #folders placeholder="Folders" formControlName="folders">
                </mat-form-field>
                <br> -->
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="createInstrcutionRequest()">Submit</button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-stroked-button color="danger" (click)="cancelEdit()">Cancel</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card-content>
</mat-card>