<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <div *ngIf="data.value === 'indent'">
    <p>Upload your Sample File</p>
    <input class="form-control" type="file" (change)="onChange($event)">
    <br>
    <button (click)="onUpload($event,'Sample')" class="btn btn-success">
      Upload
    </button>
  </div>
  <div *ngIf="data.value === 'sparkConfig'">
    <p>Upload your Mapping Files</p>
    <input class="form-control" type="file" (change)="onChange($event)">
    <br>
    <button (click)="onUpload($event,'Mapping')" class="btn btn-success">
      Upload
    </button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.sparkConfig || data.indent" cdkFocusInitial>Ok</button>
</div>