<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <form [formGroup]="dashboardForm" (ngSubmit)="nextStep()">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Data Generation Input
                            </mat-panel-title>
                            <mat-panel-description>
                                Provide the input configuration of data generation
                                <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline">
                            <mat-label>Data Generation Instance Name</mat-label>
                            <input matInput placeholder="instanceName" formControlName="instanceName">
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline">
                            <mat-label>EC2 Instance</mat-label>
                            <mat-select [multiple]="true" formControlName="generateloc">
                                <mat-option value="Localhost">Localhost</mat-option>
                                <mat-option value="abcd.aws.delta">abcd.aws.delta</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field appearance="outline">
                            <mat-label>Instruction Input Type</mat-label>
                            <mat-select formControlName="instructionInput">
                                <mat-option value="Form Input">Form Input</mat-option>
                                <mat-option value="Upload File">Upload File</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-action-row>
                            <button mat-button color="primary" type="submit">Next</button>
                        </mat-action-row>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)"
                    *ngIf="inputType === 'Form Input' && step == 1" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Instruction File
                        </mat-panel-title>
                        <mat-panel-description>
                            Provide the preliminary Inputs
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- <app-instruction-primary-form [inputType]="inputType" [instructionForm]="instructionForm"
                        [step]="'1'" [instanceName]="this.instanceName" (primaryInput)="setInstructionForm($event)" (customInput)="setCustomInstruction($event)">
                    </app-instruction-primary-form>  -->
                    <app-instruction-primary-form [inputType]="inputType" [instructionForm]="instructionForm"
                        [step]="'1'" [instanceName]="this.instanceName" (activate)="onActivate($event)"
                        [instruction]="instruction">
                    </app-instruction-primary-form>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button type="submit" mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)"
                    *ngIf="inputType === 'Form Input' && step == 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Instruction File
                        </mat-panel-title>
                        <mat-panel-description>
                            Provide the Instruction File
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-instruction-form [inputType]="inputType" [instructionForm]="instructionForm"
                        [sampleFileUploadFlag]="sampleFileUploadFlag" [step]="'2'" [instanceName]="this.instanceName"
                        [fileUploaded]="fileUploaded" (uploadFileEvent)="uploadFileSetStep($event)"
                        [actualInputType]="actualInputType" [addVariableFlag]="addVariableFlag">
                    </app-instruction-form>
                    <mat-action-row>
                        <button mat-button color="success" (click)="onSampleFileUpload() && sampleFileUploadFlag=true"
                            class="btn btn-success" *ngIf="instructionForm.get('isFileLocal').value">Upload Sample
                            File</button>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button type="submit" mat-button color="danger" (click)="addVariableFields()"
                            [disabled]="!this.instructionForm.valid">{{variableFieldButton}}</button>
                        <button type="submit" mat-button color="primary" (click)="nextStep()"
                            [disabled]="!this.instructionForm.valid">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>