<div class="container" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15%;">
            <ng-container>
            <form [formGroup]="dashboardForm">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 80%;">
                    <mat-label>Enter the Data Generation Instance Name</mat-label>
                    <input matInput placeholder="Instance Name" formControlName="instanceName">
                </mat-form-field>
                <!-- &nbsp;&nbsp; -->
                <button class="btn btn-secondary createButton" color="primary" (click)="createData()">Create</button>
            </form>
        </ng-container>
            <ng-container *ngIf="datasourceLoaded">
                <h5 style="font-style: italic;font-weight: bold;">Recent Data Creation</h5>
                <span *ngFor="let detail of scrapedDashboardList; let i = index"><button type="button"
                        class="btn btn-outline-primary" (click)="showInstruction(detail.instructionfile,detail.dataGenInstanceName,detail.executionDate)">{{detail.dataGenInstanceName}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><button type="button" class="btn btn-outline-info" [routerLink]="['/home/user-profile']">Show All..</button></span>
            </ng-container>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="container" *ngIf="showForm" style="margin-top: 1%;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ng-container>
                <app-instruction-form [inputType]="inputType" [instructionForm]="instructionForm"
                            [sampleFileUploadFlag]="sampleFileUploadFlag" [step]="step" [instruction]="instruction"
                            [variableRecord]="variableRecord" [variableFieldButton]="variableFieldButton"
                            [addVariableFlag]="addVariableFlag" [instanceName]="instanceName"
                            [fileLocationFlag]="true" [formHeading]="formHeading" [currentTestName]="currentTestName" [currentTestTime]="currentTestTime" (showFormEvent)="createData()" [editFlag]="editFlag" (cancelEditForm)="cancelEditForm()"></app-instruction-form>
            </ng-container>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>